NODE_ENV=development
PORT=3000
REGION=ap-southeast-1
SERVICE_NAME=dms-service
STAGE=dev

DYNAMODB_TABLE_PREFIX=dev_dms_Document
DYNAMODB_ENDPOINT=http://localhost:8000
SCANNER_S3_BUCKET=scanner-bucket-dev
SCANNER_S3_PATH=quarantine/
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
LOG_LEVEL=debug

# MinIO (Local S3)
S3_ENDPOINT=http://localhost:9000
S3_FORCE_PATH_STYLE=true
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
SCANNER_S3_BUCKET=scanner-bucket-dev

# Swagger
SWAGGER_TITLE=Your API Title
SWAGGER_DESCRIPTION=Your API Description
SWAGGER_VERSION=1.0.0
SWAGGER_CONTACT_NAME=API Support
SWAGGER_CONTACT_EMAIL=support@example.com